
* {
  margin: 0;
  padding: 0;
}

html {height: 90%}

body {
  background-color: black;
  color: white;
  height: 100%;
}


h1 {
  font-family: fantasy, sans-serif;
  text-align: center;
  margin-bottom:60px;
}

/*header*/

.logo {
  height: 280px;
  width: 300px;
}

.navbar {
  display:inline-flex;
}

nav{
	padding-top: 50px;
  padding-bottom:50px;
}

nav ul {
  list-style: none;
  font-family: inherit, sans-serif;
  font-size: 20px;
  text-align: left;
}

nav ul li {
  display: inline;
}

nav ul li:hover {
	background: red;
}

nav ul li a {
  margin: 20px;
  color: white;
}

nav ul li a:hover {
	color:white;
}



/*recipe*/
.img {height:40%;
  width:40%;
border-radius: 25px;}

.gif {
  max-height: 100px;
  max-width: 100px;
}

.main {
  display: flex;
  text-align: center;
  justify-content: space-around;
}

.recipe {
  text-align: left;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

a {
  color:white;
}

a:hover {
  color:red;
}

aside {
  background: rgba(100%, 100%, 100%, 1)
}

@media (min-width: 768px) {



}
