{% include "header.html" %}


<div class="container">



<article>
	<p>

	 {% for each_input in uinfo: %}
	        Contributer: {{each_input[0]}}</br>
			<input type="text" class="input-sm" placeholder="Message to contributer">
	        <button type="submit" class="btn btn-sm">Send</button></br>
									<div>

											<!--<button type="button"> Like ♥-->
											<!--</button>-->
											<a href="/like/">♡ Like </a>
									</div>

	    {% endfor %}


	</p>



</article>

</div>



{% include "footer.html" %}
