<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fir:no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vegan Chowhound</title>
  <link rel="icon" href="image/logo.png">

  <!--HsinTzu: This is boothstrap-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
  <!--HsinTzu: Icons-->
  <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
</head>

<body>
<div class="container navbar">
  <a href="/" style=" margin: auto;">
  <img class="logo" src="https://scontent-lht6-1.xx.fbcdn.net/v/t31.0-8/27982695_1681204618604478_4576267005341981786_o.png?oh=167959d99384da83b28f5954716ae3b9&oe=5B0DD955"></a>

  <div>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li class="dropdown"><a data-toggle="dropdown" href="#">About</a>
          <ul class="dropdown-menu" style="background: black">
            <li> <a href="founders">Founders</a></li> </br>
            <li><a href="webdevelopers"> Web Developers</a></li>
          </ul>
        </li>
        <li><a href="share">Share your food!</a></li>
        <li><a href="hall">Hall of food!</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
    <form class="navbar-form text-right">
        <input type="text" class="input-sm" placeholder="Search">
        <button type="submit" class="btn btn-sm">Submit</button>
      </form>
    </div>
 </div>
 <a target="_blank" href="https://www.facebook.com/TaiwanVegHound"><i data-feather="facebook"></i></a>
  <a target="_blank" href="https://www.instagram.com/vegan_taiwan"><i data-feather="instagram"></i></a>
 <div class="wrapper" style="min-height: 80%; margin-bottom: -80px">
