{% include "header.html" %}
<h1>Recipes</h1>

<div class="main row justify-content-center">



<div class="recipe  col-md-offset-2 col-md-6">
	<article class="row">
	<img src="{{recipe_url[0]}}" class="img col-2" onerror="this.onerror=null;this.src='https://scontent-lht6-1.xx.fbcdn.net/v/t31.0-8/27982695_1681204618604478_4576267005341981786_o.png?oh=167959d99384da83b28f5954716ae3b9&oe=5B0DD955';">	
	<a target="_blank" href="{{recipe_link[0]}}" class="col-10">{{recipe_title[0]}}</a>
	</article>
<hr/>
	<article class="row">	
	<img src="{{recipe_url[1]}}" class="img col-2" onerror="this.onerror=null;this.src='https://scontent-lht6-1.xx.fbcdn.net/v/t31.0-8/27982695_1681204618604478_4576267005341981786_o.png?oh=167959d99384da83b28f5954716ae3b9&oe=5B0DD955';">
	<a target="_blank" href="{{recipe_link[1]}}" class="col-10">{{recipe_title[1]}}</a>
	</article>
<hr/>
	<article class="row">
	<img src="{{recipe_url[2]}}" class="img col-md-2" onerror="this.onerror=null;this.src='https://scontent-lht6-1.xx.fbcdn.net/v/t31.0-8/27982695_1681204618604478_4576267005341981786_o.png?oh=167959d99384da83b28f5954716ae3b9&oe=5B0DD955';">
	<a target="_blank" href="{{recipe_link[2]}}" class="col-md-10">{{recipe_title[2]}}</a>
	</article>
<hr/>
	<article class="row">
	<img src="{{recipe_url[3]}}" class="img img col-md-2" onerror="this.onerror=null;this.src='https://scontent-lht6-1.xx.fbcdn.net/v/t31.0-8/27982695_1681204618604478_4576267005341981786_o.png?oh=167959d99384da83b28f5954716ae3b9&oe=5B0DD955';">
	<a target="_blank" href="{{recipe_link[3]}}" class="col-md-10">{{recipe_title[3]}}</a>
	</article>
<hr/>
	<article class="row">
	<img src="{{recipe_url[4]}}" class="img img col-md-2" onerror="this.onerror=null;this.src='https://scontent-lht6-1.xx.fbcdn.net/v/t31.0-8/27982695_1681204618604478_4576267005341981786_o.png?oh=167959d99384da83b28f5954716ae3b9&oe=5B0DD955';">
	<a target="_blank" href="{{recipe_link[4]}}" class="col-md-10">{{recipe_title[4]}}</a>
	</article>
<hr/>
	<article class="row">
	<img src="{{recipe_url[5]}}" class="img img col-md-2" onerror="this.onerror=null;this.src='https://scontent-lht6-1.xx.fbcdn.net/v/t31.0-8/27982695_1681204618604478_4576267005341981786_o.png?oh=167959d99384da83b28f5954716ae3b9&oe=5B0DD955';">
	<a target="_blank" href="{{recipe_link[5]}}" class="col-md-10">{{recipe_title[5]}}</a>
	</article>
<hr/>
	<article class="row">	
	<img src="{{recipe_url[6]}}" class="img img col-md-2" onerror="this.onerror=null;this.src='https://scontent-lht6-1.xx.fbcdn.net/v/t31.0-8/27982695_1681204618604478_4576267005341981786_o.png?oh=167959d99384da83b28f5954716ae3b9&oe=5B0DD955';">
	<a target="_blank" href="{{recipe_link[6]}}" class="col-md-10">{{recipe_title[6]}}</a>
	</article>
<hr/>
	<article class="row">	
	<img src="{{recipe_url[7]}}" class="img img col-md-2" onerror="this.onerror=null;this.src='https://scontent-lht6-1.xx.fbcdn.net/v/t31.0-8/27982695_1681204618604478_4576267005341981786_o.png?oh=167959d99384da83b28f5954716ae3b9&oe=5B0DD955';">
	<a target="_blank" href="{{recipe_link[7]}}" class="col-md-10">{{recipe_title[7]}}</a>
	</article>
<hr/>
	<article class="row">	
	<img src="{{recipe_url[8]}}" class="img img col-md-2" onerror="this.onerror=null;this.src='https://scontent-lht6-1.xx.fbcdn.net/v/t31.0-8/27982695_1681204618604478_4576267005341981786_o.png?oh=167959d99384da83b28f5954716ae3b9&oe=5B0DD955';">
	<a target="_blank" href="{{recipe_link[8]}}" class="col-md-10">{{recipe_title[8]}}</a>
	</article>
<hr/>
	<article class="row">	
	<img src="{{recipe_url[9]}}" class="img img col-md-2" onerror="this.onerror=null;this.src='https://scontent-lht6-1.xx.fbcdn.net/v/t31.0-8/27982695_1681204618604478_4576267005341981786_o.png?oh=167959d99384da83b28f5954716ae3b9&oe=5B0DD955';">
	<a target="_blank" href="{{recipe_link[9]}}" class="col-md-10">{{recipe_title[9]}}</a>
	</article>
</div>



<aside class="col-md-2">

    <input type="text" class="input-sm" placeholder="Search" style="margin-top: 30px">
    <button type="submit" class="btn btn-sm">Submit</button>
      


</aside>

</div>



{% include "footer.html" %}