{% include "header.html" %}

    <div class="container text-center">
    <h1>Share your vegan meals!</h1>
    <form method=post enctype=multipart/form-data>
      <label>Name:  <input type=text name=name>
       </label></br>
      <label>Email:  <input type=email name=email>
      </label></br>
      <label>Introduction:  <input type=text name=introduction class="form-control">
       </label>
       </br>
 
    <p>Upload Photo</p>
    
      <p><input type=file name=file class="btn">
         <input type=submit value=Upload class="btn-danger">
       </p>
    </form>
	</div>
{% include "footer.html" %}