{% include "header.html" %}

    
    <h1>Share your vegan meals!</h1>
    <div class=" container col-6">
    <form method=post enctype=multipart/form-data class="form-group">
      <h2>Name:</h2>  <input type=text name=name class="form-control">
       </br>
      <h2>Email:</h2>  <input type=email name=email class="form-control">
      </br>
      <h2>Food:</h2>  <input type=text name=food class="form-control" placeholder="What's the food you're sharing?">
      </br>
      <h2>Introduction:</h2>  <textarea class="form-control" name="introduction" rows="3" placeholder="What do you want to say about the food?"></textarea>

       </br>
 
    <h2>Upload Photo</h2>
    
      <input type=file name=file class="btn">
      <input type=submit value=Submit class="btn-danger">
       
    </form>
	</div>
{% include "footer.html" %}