{% include "header.html" %}
<div class="text-center row">

<h2 class="container col-4">
Lead Web Developer
<p>

Hsin-Tzu is a student in the University of Sheffield. She embarked into the world of coding after being diagnosed with ADHD. She always found it hard to read, however, she was unable to leave her humanitarian major due to her late diagnosis. Now she has found a passion for coding, she is able to focus her energy into something she loves.
Motto: Do it with passion or not at all


	</p>
</h2>

<h2 class="container col-4">

Assistant Web Developer

	<p>
    Assistant web developer
Lukai is a PhD student at the University of Sheffield. She is a mechanical engineer who spends a large portion of her time working on her research. She first took an interest in programming when her job required her to use Python codes to statistically analyse her data. Her passion for coding has since grown as she discovers its usefulness in solving real world problems.
Motto: Go for it. No matter how it ends, it was an experience

	</p>
</h2>

<h2 class="container col-4">

Assistant Web Developer

<p>
  Assistant web developer
Sarah is a Bioengineer at the University of Sheffield. She began coding in her own time but found it was also required in her course. Her interest in coding grew more as she learnt about the scientific possibilities that could be accomplished with the help of computing skills.
Motto: To risk is always better than to regret.


	</p>

</h2>


<img src="https://scontent.fdsa1-1.fna.fbcdn.net/v/t1.0-9/29215939_987269841420556_2685647985106223104_n.jpg?_nc_eui2=v1%3AAeFD4VwYqG0Su_rB_o7Imf2pewz-ujlbBHgVbkBK97SxJHR8-YI0p6DiRZ44T1cwdC0nYzC_OsvFpKB1Nu_2JbhViZaYX7gP_VKxqJU8n3RDyQ&oh=6d053e55cf37d8d04c8140f5964ce726&oe=5B4E0226" >
</div>

{% include "footer.html" %}
